


.inputRow {
    width: 100%;

    @media only screen and (max-width: $xs) {
        margin: 5vh 0;
        display: block;
    }

    @media only screen and (min-width: $sm) {
        display: flex;

        .inputGroup {
            width: 100%;
        }

        .inputGroup:first-child:nth-last-child(2), 
        .inputGroup:first-child:nth-last-child(2) ~ .inputGroup {
            width: 50%;
        }

        > * {
            margin-right: 10px;
        }
    }
}
