
.input, %input {
    display: block;
    width: 100%;
    height: 45px;

    margin: 10px 0px;
    padding: 5px 5px;
    
    font-size: 16pt;
    
    border-width: 1pt;
    border-radius: 5px;
    border-style: solid;
    border-color: $theme-color;

    box-sizing:border-box;
}

select.input, %selectInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
  }

.input:focus, %input:focus {
    border-color: $theme-color;
}