
@import '../../_helpers/style-mixins/colors';

%navButton {
    padding: 5px 10px;
    font-size: 1.5em;
}

%navButton:hover {
    color: white;
    cursor: pointer;
    background-color: $theme-color;
}

.log {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .prev {
        @extend %navButton;
        border-right: 1px solid black;
    }

    .next {
        @extend %navButton;    
        border-left: 1px solid black;
    }

    .logActions {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5px 15px;
    }

    .logDate {
        width: 100%;
        height: 40px;
        display: flex;
        //flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(15, 15, 15);
        border-right-width: 0;
        border-left-width: 0;
    }

    .logMain {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        align-items: flex-start;
        align-content: flex-start;  
    }

    .futureEntry {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: repeating-linear-gradient(-45deg, 
        white, white 47px, rgba($theme-color,0.4) 50px);

        .message {
            display: flex;
            align-items: center;
            flex-direction: column;
            
            margin: 0 27%;
            margin-top: 150px;
            
            padding: 30px;
            padding-bottom: 50px;
            
            border-radius: 3px;
            border: 1px solid $theme-color;
            background-color: white;
        }
    }
}



.mobileLogView {
    display: flex;
    margin-top: 5vh;
    border-width: 0;
    border-style: solid;
    border-color: black;
    flex-direction: column;

    .viewOptions {
        display: flex;
        justify-content: space-between;
        padding: 1vh 2vw;

        border-width: 0;
        border-style: inherit;
        border-color: inherit;
        border-bottom-width: 1px;

        button { width: 30vw; }
    }
    
    .logDate {
        display: flex;
        justify-content: center;
        padding: 0.5vh 0;

        border-width: 0;
        border-style: inherit;
        border-color: inherit;
        border-bottom-width: 1px;
    }

    .futureEntry {
        height: 52vh;
        display: flex;
        flex-direction: column;
        background: repeating-linear-gradient(-45deg, 
        white, white 47px, rgba($theme-color,0.4) 50px);

        .message {
            display: flex;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            background-color: white;
            border: 1px solid $theme-color;
            border-radius: 3px;
            padding-bottom: 10vw;
            margin: 5vh 0;
        }
    }
}