
%row {
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 10px 25px;
    box-sizing: border-box;
}


#desktopAccountView {
    width: 100%;
    height: 90%;
    display: flex;
    box-sizing: border-box;
    margin-top: 50px;

    .col {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px 50px;
    }

    #accountOverview {
        width: 55%;
        height: 100%;
        align-items: center;
        border-right: 1px solid lightgray;

        .overview {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                min-width: 200px;
                width: 200px;
                height: 200px;
                display: block;
                border-radius: 50%;
                background-color: lightgrey;
            }

            .info {
                margin-left: 25px;
                h2 { margin: 0;}
            }
        }
    }
        
    #accountStatistics {
        width: 45%;
    }

    .section {
        width: 90%;
        margin: 20px 0;

        .sectionHeader {
            width: 100%;
            border-bottom: 1px solid lightgray;
        }

        .sectionRow, %sectionRow {
            display: flex;
            margin: 10px 0;
            button { margin-right: 25px; }   
        }

        .sectionInfoRow {
            @extend %sectionRow;
            
            label { 
                width: 150px;
                display: inline-block; 
            }

            p { 
                margin: 0 25px; 
                display:inline-block 
            }
        }
    }
}



.mobileAccountView {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 5vh;
    margin-top: 3vh;

    .info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 3vh 0; 

        img {
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
            background-color: lightgray;
        }
    }

    .sectionTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1vh;
        padding: 0 2vw;
    }

    .infoRow {
        margin: 3vh 0;
        p { margin: 0.2vh; }
    }

    .accountOptions {
        button {
            margin: 3vw 0;
            padding-left: 5vw;
            box-sizing: border-box;
        }
    }
}