
%row {
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 10px 25px;
    box-sizing: border-box;
}

#accountView {
    width: 80%; 
    display: flex;
    flex-direction: column;

    margin: 75px auto;
    margin-bottom: 0px;

    .overview {
        @extend %row;
        align-items: center;
        
        img {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0px 125px;
            border-radius: 50%;
            background-color: lightgrey;
        }

        h3 { margin: 0; }
    }

    .account {
        @extend %row;
        justify-content: space-evenly;
        margin-top: 50px;

        %col {
            width: 45%;
            display: flex;
            flex-direction: column;

            h3 {
                margin: 5px 0px;
            }
        }

        .details {
            @extend %col;
        }

        .settings {
            @extend %col;
        }

        .divider {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid grey;
        }

        .infoRow {
            margin: 10px 0;
            p { margin: 0px; }
        }
    }
}


.mobileAccountView {
    
    .info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 3vh 0; 

        img {
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
            background-color: lightgray;
        }
    }

    .sectionTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1vh;
        padding: 0 2vw;
    }

    .infoRow {
        margin: 3vh 0;
        p { margin: 0.2vh; }
    }

}