
@import '../../_helpers/style-mixins/colors';


#errorPage {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    .logo {
        width: 100%;
        max-width: 250px;
    }

    .container {
        width: 100%;
        max-width: 500px;
        padding: 35px 50px;    
        border-radius: 3px;
        
        .title {
            display: flex;
            align-items: baseline;
            h2 { 
                margin: 0;
                margin-right: 15px; 
            }
        }
    }

    .options {
        width: 100%;
        display: flex;
        max-width: 500px;
        justify-content: space-between;
    }
}
