
@import '../../_helpers/style-mixins/colors';


%diaryEntry {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 25px 25px;
    box-sizing: border-box;

    color: black;
    text-decoration: none;
    background-color: white;
    box-shadow: -1px 0px 7px 3px rgba($theme-color, 0.2);

    .expandRow1 {
        width: 100%;
        display: flex;

        .col1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .entryThumbnail {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                margin-top: 10px;

                img {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    background-color: lightgray;
                }
            }

            .info {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                margin-bottom: 5px;
            }
        }

        .col2 {
            padding: 2px;
            box-sizing: border-box;
        }
    }

    .expandRow2 {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .statuses {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            div {
                p {
                    margin: 0;
                    display: inline-block;
                }
            }
        }
    }
}

%diaryEntry:hover {
    cursor: pointer;
}

.diaryEntry {
    @extend %diaryEntry;
    width: 200px;

    .expandRow1 {
        .col1 { width: 100%; }
        .col2 { display: none; }
    }
    .expandRow2 {
        .statuses {
            div {
                p { display: none; }
            }
        }
    }
}

.diaryEntryExpanded {
    @extend %diaryEntry;
    width: 300px;

    .expandRow1 {
        .col1 { width: 80%; }
        .col2 { width: 20%; }
    }
}

.desktopDiaryEntryCreate {
    @extend %diaryEntry;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    i { font-size: 1.75em }
}

.desktopDiaryEntryCreate:hover {
    background-color: $theme-color-transparent;
    box-shadow: -1px 0px 7px 3px rgba($theme-color, 0.3);
}



.mobileDiaryEntry, %mobileDiaryEntry {
    width: 100%;
    padding: 1vh 3vw;
    box-sizing: border-box;

    border-width: 0;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;

    p { margin: 0; }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .main {
        display: flex;
        align-items: center;
        margin: 3vh 0;

        img {
            width: 10vh;
            height: 10vh;
            border-radius: 50%;
            background-color: lightgray;
            margin-right: 5vw;
        }
    }

    .footer {
        p {
            margin-right: 5vw;
            display: inline-block;
        }
    }
}

.mobileDiaryEntryCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vh 0;

    text-decoration: none;
    color: black;
}

.mobileDiaryEntryCreate:hover {
    background-color: $theme-color-transparent;
}