
@import '../../../_helpers/style-mixins/colors';

#diaryView {    
    height: 100%;
    position: relative;

    .viewHeader {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        h1, h3 { margin: 0 }
    }

    .viewContent {
        display: flex;
        justify-content: center;
        margin-top: 125px;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
    }
}
