
@import '../../_helpers/style-mixins/colors';

#desktopHomeView {
    width: 100%;
    height: 100%;
    display: flex;

    .diarySelection {
        width: 400px;
        height: 100%;
        overflow-y: scroll;
        box-sizing: border-box;
        margin-left: 20px;
        padding-right: 25px;
        
    }

    .diaryView {
        width: 100%;
        box-sizing: border-box;
    }

}

.noDiary {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    i {
        font-size: 3em;
        color: $theme-color;
    }

    h3 {
        margin: 5px;
    }
}