
#desktopHomeView {
    width: 100%;
    height: 100%;

    .diaryList {
        width: 350px;
        height: 100%;
        overflow-y: scroll;
    }
}


#mobileHomeView {
    width: 100%;
    height: 100%;
}