
@import '../../_helpers/style-mixins/colors';
@import '../../_helpers/style-mixins/query-parameters';


@media only screen and (min-width: $sm) {
    #diaryEntryForm {
        width: 1000px;
        box-sizing: border-box;

        .formMain {
            width: 100%;
            display: flex;
            flex-direction: row;
            
            img {
                width: 200px;
                height: 200px;
                flex: 0 0 auto;
                margin-top: 20px;
                border-radius: 50%;
                background-color: lightgray;
            }
        
            .inputs {
                flex: 1 1 auto;
                padding: 0px 3%;
                box-sizing: border-box;
            }
        }

        .formOptions {
            display: flex;
            justify-content: space-between;
            margin: 10px 3%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .formMain {
        flex-direction: column;
        img{ align-self: center; }
    }
}

@media only screen and (max-width: $xs) {
    #diaryEntryForm {
        width: 100%;

        h3 { margin-bottom: 0; }

        .formMain {
            width: 95%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            img {
                width: 20vh;
                height: 20vh;
                flex: 0 0 auto;
                margin: 3vh 0;
                border-radius: 50%;
                background-color: lightgray;
            }
        }

        .formOptions {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            margin-bottom: 5vh;
            padding: 0 2vw;
        }
    }
}





#desktopEntryForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
    .entryRow {
        width: 100%;
        display: flex;
    }

    .entryCol {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 50px;
    }

    img.entryThumbnail {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background-color: lightgray;
        margin-bottom: 50px;
    }

    .sectionTitle {
        width: 100%;
        margin: 15px 0;
        border-bottom: 1px solid $theme-color;
        h3 { margin: 0 3px; }
    }

    .formActions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin-top: 25px;
        padding: 0 50px;

        .actionsLeft {
            a, Button {
                margin-right: 25px;
            }
        }

    }
}