@import '../../_helpers/style-mixins/colors';
@import '../../_helpers/style-mixins/query-parameters';


#desktopLayout {
    height: 100vh;
    display: flex;    
    flex-direction: column;

    .page {
        width: 100%;
        height: 100%;
        display: flex;

        .pageMain {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            display: flex;
            flex-direction: column;

            .messageFlashContainer {
                flex: 0 0 auto;
            }

            .content {
                flex: 1 1 auto;
            }
        }
    }
}



#mobileLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .page {
        flex: 1 1 auto;
    }
}