$text-color: black;
$theme-color: rgb(30, 131, 199);
$theme-color-transparent: rgba($theme-color, 0.1);
$background-color: white;

$success-color: rgb(2, 168, 66);
$warning-color: rgb(216, 166, 0);
$danger-color: rgb(238, 75, 75);