
h1 {
    font-size: 33pt; 
}

h2 {
    font-size: 26pt;
}   

h3 {
    font-size: 22pt;
}  

h4 {
    margin: 0;
    font-size: 18pt;
    font-weight: 600;
}

h5 { 
    margin: 0;
    font-size: 15pt; 
    font-weight: 100; 
}

h6 {
    margin: 0;
    font-size: 12pt; 
    font-weight: 100; 
}

p, label {
    font-size: 1.15em;
}

label {
    font-weight: bold;
}