
%button-xs {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 5.5vh;
        font-size: 1em;
        padding: 0vw 0.5vw;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 15px;
        font-size: 1em;
        padding: 7px 5px;
    }
}

%button-sm {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 7vh;
        font-size: 1.3em;
        padding: 0.2vh 2vw;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 30px;
        font-size: 1.3em;
        padding: 9px 7px;
    }
}

%button-lg {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 8.5vh;
        font-size: 1.75em;
        padding: 0.5vh 1vw;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 75px;
        font-size: 2em;
        padding: 0px 15px;
    }
}